@import 'header';
@import 'footer';

@import 'mixins';
@import 'vars';

.product-box {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product {
    display: flex;
    align-items: center;
    gap: 20px;

    &__text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__photo {
        max-width: 40%;
    }

    &__name {
        color: $grayText;
    }

    &__descriptions {
        &__point {
            color: $grayText;
        }
    }

    &__price{
        font-weight: 600;
        color: $grayText;
    }

}