.type__margin {
    padding-bottom: 120px !important;
}

.type__block {
    display: flex;
    flex-wrap: wrap;
    gap: $gapGreed;
    justify-content: center;
}

.type__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__bgrd-1 {
        height: 260px;
        width: 360px;
        background-image: url(img/top_banner_women.jpg);
    }

    &__bgrd-2 {
        height: 260px;
        width: 360px;
        background-image: url(img/top_banner_men.jpg);
    }

    &__bgrd-3 {
        height: 260px;
        width: 360px;
        background-image: url(img/top_banner_kids.jpg);
    }

    &__bgrd-4 {
        height: 180px;
        width: 1140px;
        background-image: url(img/top_banner_accesories.jpg);
    }

    &__bgrd-10 {
        height: 260px;
        width: 360px;
        background-image: url(img/cloth_coffins_banner.jpg);
    }

    &__bgrd-20 {
        height: 260px;
        width: 360px;
        background-image: url(img/polished_coffins_banner.jpg);
    }

    &__bgrd-30 {
        height: 260px;
        width: 360px;
        background-image: url(img/bedding_banner.jpg);
    }

    &__bgrd-40 {
        height: 260px;
        width: 360px;
        background-image: url(img/dress_banner.jpg);
    }

    &__bgrd-50 {
        height: 260px;
        width: 360px;
        background-image: url(img/crosses_banner.jpg);
    }

    &__bgrd-60 {
        height: 260px;
        width: 360px;
        background-image: url(img/garlands_banner.jpg);
    }

    &__bgrd-70 {
        height: 260px;
        width: 360px;
        background-image: url(img/compositions_banner.jpg);
    }

    &__bgrd-80 {
        height: 260px;
        width: 360px;
        background-image: url(img/wreaths_banner.jpg);
    }

    &__bgrd-90 {
        height: 260px;
        width: 360px;
        background-image: url(img/cars_banner.jpg);
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: $witeBack;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__text-1 {
        font-size: 24px;
        font-weight: 700;
        // color: #f16d7f;
        color: $colorSelectSite;
        text-align: center;
        margin-bottom: 8px;
    }
}

.off {
    display: none;
}

.mobyle__on {
    display: none;
}

@media (max-width: 1140px) {
    .center {
        padding-left: calc(50vw - 368px);
        padding-right: calc(50vw - 368px);
    }

    .type__block {
        gap: 16px;
    }

    .type__item__bgrd-1 {
        height: 168px;
        width: 233px;
        background-image: url(img/top_banner_women_mini.jpg);
    }

    .type__item__bgrd-2 {
        height: 168px;
        width: 233px;
        background-image: url(img/top_banner_men_mini.jpg);
    }

    .type__item__bgrd-3 {
        height: 168px;
        width: 233px;
        background-image: url(img/top_banner_kids_mini.jpg);
    }

    .type__item__bgrd-4 {
        height: 118px;
        width: 735px;
        background-image: url(img/top_banner_accesories_mini.jpg);
    }

    .type__item__bgrd-10 {
        height: 168px;
        width: 233px;
        background-image: url(img/cloth_coffins_banner_mini.jpg);
    }

    .type__item__bgrd-20 {
        height: 168px;
        width: 233px;
        background-image: url(img/polished_coffins_banner_mini.jpg);
    }

    .type__item__bgrd-30 {
        height: 168px;
        width: 233px;
        background-image: url(img/bedding_banner_mini.jpg);
    }

    .type__item__bgrd-40 {
        height: 168px;
        width: 233px;
        background-image: url(img/dress_banner_mini.jpg);
    }

    .type__item__bgrd-50 {
        height: 168px;
        width: 233px;
        background-image: url(img/crosses_banner_mini.jpg);
    }

    .type__item__bgrd-60 {
        height: 168px;
        width: 233px;
        background-image: url(img/garlands_banner_mini.jpg);
    }

    .type__item__bgrd-70 {
        height: 168px;
        width: 233px;
        background-image: url(img/compositions_banner_mini.jpg);
    }

    .type__item__bgrd-80 {
        height: 168px;
        width: 233px;
        background-image: url(img/wreaths_banner_mini.jpg);
    }

    .type__item__bgrd-90 {
        height: 168px;
        width: 233px;
        background-image: url(img/cars_banner_mini.jpg);
    }

    .type__item__text {
        font-size: 14px;
    }

    .type__item__text-1 {
        font-size: 20px;
    }

    .off {
        display: flex;
    }

    .on {
        display: none;
    }

}

@media (max-width: 736px) {

    .type__block {
        gap: 32px;
    }

    .type__item__bgrd-1 {
        height: 248px;
        width: 343px;
        background-image: url(img/top_banner_women.jpg);
    }

    .type__item__bgrd-2 {
        height: 248px;
        width: 343px;
        background-image: url(img/top_banner_men.jpg);
    }

    .type__item__bgrd-3 {
        height: 248px;
        width: 343px;
        background-image: url(img/top_banner_kids.jpg);
    }

    .type__item__bgrd-4 {
        height: 111px;
        width: 343px;
        background-image: url(img/top_banner_accesories.jpg);
    }

    .type__item__bgrd-10 {
        height: 248px;
        width: 343px;
        background-image: url(img/cloth_coffins_banner.jpg);
    }

    .type__item__bgrd-20 {
        height: 248px;
        width: 343px;
        background-image: url(img/polished_coffins_banner.jpg);
    }

    .type__item__bgrd-30 {
        height: 248px;
        width: 343px;
        background-image: url(img/bedding_banner.jpg);
    }

    .type__item__bgrd-40 {
        height: 248px;
        width: 343px;
        background-image: url(img/dress_banner.jpg);
    }

    .type__item__bgrd-50 {
        height: 248px;
        width: 343px;
        background-image: url(img/crosses_banner.jpg);
    }

    .type__item__bgrd-60 {
        height: 248px;
        width: 343px;
        background-image: url(img/garlands_banner.jpg);
    }

    .type__item__bgrd-70 {
        height: 248px;
        width: 343px;
        background-image: url(img/compositions_banner.jpg);
    }

    .type__item__bgrd-80 {
        height: 248px;
        width: 343px;
        background-image: url(img/wreaths_banner.jpg);
    }

    .type__item__bgrd-90 {
        height: 248px;
        width: 343px;
        background-image: url(img/cars_banner.jpg);
    }

    .off {
        display: none;
    }

    .mobyle__off {
        display: none;
    }

    .mobyle__on {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 374px) {


    .type__item__bgrd-1 {
        height: 231px;
        width: 320px;
        background-image: url(img/top_banner_women.jpg);
    }

    .type__item__bgrd-2 {
        height: 231px;
        width: 320px;
        background-image: url(img/top_banner_men.jpg);
    }

    .type__item__bgrd-3 {
        height: 231px;
        width: 320px;
        background-image: url(img/top_banner_kids.jpg);
    }

    .type__item__bgrd-4 {
        height: 103px;
        width: 320px;
        background-image: url(img/top_banner_accesories.jpg);
    }

    .type__item__bgrd-10 {
        height: 231px;
        width: 320px;
        background-image: url(img/cloth_coffins_banner.jpg);
    }

    .type__item__bgrd-20 {
        height: 231px;
        width: 320px;
        background-image: url(img/polished_coffins_banner.jpg);
    }

    .type__item__bgrd-30 {
        height: 231px;
        width: 320px;
        background-image: url(img/bedding_banner.jpg);
    }

    .type__item__bgrd-40 {
        height: 231px;
        width: 320px;
        background-image: url(img/dress_banner.jpg);
    }

    .type__item__bgrd-50 {
        height: 231px;
        width: 320px;
        background-image: url(img/crosses_banner.jpg);
    }

    .type__item__bgrd-60 {
        height: 231px;
        width: 320px;
        background-image: url(img/garlands_banner.jpg);
    }

    .type__item__bgrd-70 {
        height: 231px;
        width: 320px;
        background-image: url(img/compositions_banner.jpg);
    }

    .type__item__bgrd-80 {
        height: 231px;
        width: 320px;
        background-image: url(img/wreaths_banner.jpg);
    }

    .type__item__bgrd-90 {
        height: 231px;
        width: 320px;
        background-image: url(img/cars_banner.jpg);
    }

}