@import 'vars';
@import 'mixins';
@import 'footer';
@import 'servicesBlock';

* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.header {
    &__color {
        background-color: #303030 !important;
    }

    &__end {
        flex-direction: column !important;
        align-items: flex-end !important;
    }

    &__align {
        flex-direction: column !important;
        align-items: flex-end !important;
    }
}

.center {
    // padding-left: calc(50vw - $widthSite/2);
    // padding-right: calc(50vw - $widthSite/2);
    // padding-left: calc(50vw - 570px);
    // padding-right: calc(50vw - 570px);
    // margin-left: 16px;
    // margin-right: 16px;
    padding-left: calc(50vw - 600px);
    padding-right: calc(50vw - 600px);
}

.pages {
    margin-top: 140px;
    // min-height: 81vh;

    &__title {
        // margin-top: 100px !important;
        color: $grayText;
        text-align: center;
        padding-bottom: 30px;

        &-top {
            padding-top: 68px;
        }
    }

}

.head-banner {
    width: 100vw;
    height: 60vh;
    background-image: url("img/head-banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;

    &__line {
        flex-direction: column;
        justify-content: center !important;
        text-align: center;
    }

}

.line-box {
    max-width: 60vw !important;
}

.box {
    @include boxFlex();
    margin-bottom: 60px;

    &__filter {
        // justify-content: flex-start;
        // margin-left: 20px;
        margin-bottom: 30px;
    }

    &__faq {
        gap: 12px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.text__block {
    padding-left: 20px;
    padding-right: 20px;
}

.stepper {
    flex-wrap: wrap !important;
}



@media (max-width: 1440px) {

    .center {
        padding-left: calc(50vw - 700px);
        padding-right: calc(50vw - 700px);
    }

    .btn_step {
        padding-left: 140px;
        padding-right: 140px;
    }

}

@media (max-width: 736px) {
    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    .btn_step {
        padding-left: 0;
        padding-right: 0;
    }



}

@media (max-width: 374px) {
    .center {
        padding-left: 0;
        padding-right: 0;
    }
}